@model ReflectionIT.Mvc.Paging.PagingList<TonsNeutros.Admin.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h2 class="mt-3">Produtos</h2>

<form method="get" class="form-inline mt-3">

    <input name="filter" class="form-control text-light" placeholder="filter"
           value="@Model.RouteValue["Filter"]" />

    <button type="submit" class="btn btn-secondary mt-1">Procurar</button>
</form>

<p>
    <a asp-action="Create" class="btn btn-outline-dark mt-3">Adicionar produto</a>
</p>

@if (!Model.Any())
{
    <h2 class="text-center">Não existem categorias para apresentar</h2>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr class="table-light">
                <th scope="row">
                    @Html.DisplayNameFor(model => model.ImageURL)
                </th>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.Stock)
                </th>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.IsFeatured)
                </th>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.StockInHand)
                </th>
                <th scope="row"></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr class="table-light">
                <td>
                    <img src="@Url.Content(item.ImageURL)" alt="Product Image" style="max-width: 100px; max-height: 100px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsFeatured)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockInHand)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductId">Produto</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId">Apagar</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
}